{% if paginator.total_pages > 1 %}
<nav class="pagination is-centered" aria-label="Pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-previous">Plus récents</a>
    {% else %}
        <p class="pagination-previous" disabled>Plus récents</p>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-next">Plus anciens</a>
    {% else %}
        <p class="pagination-next" disabled>Plus anciens</p>
    {% endif %}
    <ul class="pagination-list">
        {% for num in (1..paginator.total_pages) %}
            {% if num == paginator.page %}
                <li><a class="pagination-link is-current" aria-current="page">{{ num }}</a></li>
            {% elsif num == 1 %}
                <li><a href="{{ '/journal/' | relative_url }}" class="pagination-link">{{ num }}</a></li>
            {% else %}
                <li><a href="{{ site.paginate_path | replace: ':num', num | relative_url }}" class="pagination-link">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
